*{ padding: 0px; margin: 0px;}

html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 1.6e;
    font-family: Catarell, 'Droid Sans', Ubuntu, 'Dejavu Sans', Arial;
    font-size: 14px;
    color: #dbdbdb;
}

section, nav, header, footer {
    display: block;
}

/*topmenu*/
header {
    font-family: Catarell, 'nazli', Ubuntu, 'Arial', Arial;
    position: absolute;
    width: 70%;
    height: 80px;
    padding: 7px 10px 5px 0px;
    font-weight: 900;
    top:15px;
    right:150px;
    font-size: 25px;
    Background: #0c2c52;
    border-bottom: 1px solid #dbdbdb;
    text-align:right;
    border-radius: 5px 5px 0px 0px;
} 
ltbox {
    font-family: Catarell, 'nazli', Ubuntu, 'Arial', Arial;
    position: absolute;
    width: 250px;
    height: 40px;
    padding: 7px 10px 5px 10px;
    font-weight: 900;
    top: -15px;
    left:20px ;
    font-size: 25px;
    Background: #ee2c52;
    border-bottom: 0px solid #dbdbdb;
    text-align:center;
    border-radius: 0px 0px 5px 5px;
}
/*topmenu*/
/*tabs*/
home-box {
    font-family: Catarell, 'nazli', Ubuntu, 'Arial', Arial;
    position: absolute;
    width: 70px;
    height: 35px;
    padding: 7px 10px 5px 10px;
    font-weight: 850;
    top: 70px;
    right:158px;
    font-size: 25px;
    Background: #336699;
    border-bottom: 0px solid #dbdbdb;
    text-align:center;
    border-radius: 0px 5px 0px 0px;
}
blog-box{
    font-family: Catarell, 'nazli', Ubuntu, 'Arial', Arial;
    position: absolute;
    width: 70px;
    height: 35px;
    padding: 7px 10px 5px 10px;
    font-weight: 850;
    top: 70px;
    right:252px;
    font-size: 25px;
    Background: #B76EB8;
    border-bottom: 0px solid #dbdbdb;
    text-align:center;
#    border-radius: 0px 0px 0px 0px;
}
contact-us{
    font-family: Catarell, 'nazli', Ubuntu, 'Arial', Arial;
    position: absolute;
    width: 70px;
    height: 35px;
    padding: 7px 10px 5px 10px;
    font-weight: 850;
    top: 70px;
    right:346px;
    font-size: 23px;
    Background: #A31E39;
    border-bottom: 0px solid #dbdbdb;
    text-align:center;
#    border-radius: 0px 0px 0px 0px;
}
/*tabs*/
lhbox{
    font-family: Catarell, 'nazli', Ubuntu, 'Arial', Arial;
    position: absolute;
    width: 270px;
    height: 460px;
    padding: 7px 10px 5px 10px;
    font-weight: 850;
    top: 70px;
    left:260px;
    font-size: 25px;
    Background: #666666;
    border-bottom: 0px solid #dbdbdb;
    text-align:center;
    border-radius: 5px;
}
footer{
    font-family: Catarell, 'nazli', Ubuntu, 'Arial', Arial;
    position: absolute;
    width: 70%;
    height: 80px;
    padding: 7px 10px 5px 0px;
    font-weight: 900;
    bottom:15px;
    right:150px;
    font-size: 25px;
    Background: #0c2c52;
    border-bottom: 1px solid #dbdbdb;
    text-align:right;
    border-radius: 0px 0px 5px 5px;
}
body {
        Background: whitesmoke;

}
