body {
    font-size:12pt;
    font-family:"nazli";
    direction:rtl;
}
#header {
    width: 800px;
    height: 100px;
    background-color: #0c2c52;
    border-radius: 5px 5px 0px 0px;
    margin-right:auto;
    margin-left:auto;
    font-size:30px;
    color:whitesmoke;
       
}
#banner {
    width: 200px;
    float : left;
    height: 45px;
    margin-top:-8px;
    background-color: #E47297;
    border-radius: 0px 0px 5px 5px;
    margin-left:10;
    direction:ltr;
    font-size:23px;
    text-align:center;
    padding-top:10;
    color:whitesmoke;
}
#content {
    margin-top:5px;
    margin-bottom:5px;
    width: 800px;
    background-color:whitesmoke;
    margin-right:auto;
    margin-left:auto;
    height:70%;
}


#side {
    display : inline;
    float : left;
    width:26%;
    height:100%;
    background-color:#666666;
    /*border-radius:5px 5px 5px 5px;*/
}

#main {
    padding:15px;
 /*   display : inline;*/
    float : right;
/*    width:70%;
    height:100%;*/

    }

#footer {
    width: 800px;
    height: 70px;
    background-color: #0c2c52;
    border-radius: 5px 5px 0px 0px;
    margin-right:auto;
    margin-left:auto;
    border-radius:0px 0px 5px 5px;
}

#menu{
    
    padding-top:15px;
}

#menu a{
    text-decoration:none;
    background-color:#003366;
    color:whitesmoke;
    font-weight:bold;
    padding:8px;
    margin:5px;
    border-radius:0px 5px 0px 0px;
}

#menu #home{
    background-color:#336699; 
    border-radius:0px 5px 0px 0px;
    font-size:18px;
}

#menu #register{
    background-color:FF6600;
    border-radius:0px;
    font-size:18px;
}

#menu #blog{
    background-color:A31E39;
    border-radius:0px;
    font-size:18px;
}

#menu #forum{
    background-color:979735;
    border-radius:0px;
    font-size:18px;
}
#menu #about{
    background-color:986598;
    border-radius:5px 0px 0px 0px;
    font-size:18px;

}
.home{
    Background-color:whitesmoke;
    border:2px solid 336699;
    position: absolute;
    height:62.5%;
    width:41%;
}
.about{
    Background-color:whitesmoke;
    position: absolute;
    border:2px solid 986598;
    height:70%;
    width:auto;
}