<html>
  <head>
    <title>{% block title %}
      linux-trix.com
      {% endblock title %}</title>

    {% block head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css"/>
    {% endblock head %}
    {% block extrahead %}    
    {% endblock extrahead %}
  </head>
<body>
<div id = "header">
  سایت ترفندهای لینوکسی
  <div id="banner">
    www.Linux-Trix.com
    </div>
  <div id="menu">
    <a id="home" href="/">خانه</a>
    <a id="register" href="/auth/register">ثبت نام</a>
    <a id="blog" href="/blog">بلاگ</a>
    <a id="forum" href="/forum">بحث و گفتگو</a>
    <a id="about" href="/about">درباره ما</a>
    </div>
</div>
<div id="content">

{% block content %}
<div id="main" class="home">
    
</div>
{% endblock %}


{% block side %}

{% endblock %}
</div>
<div  id="footer">sdsds
</div>
</body>
</html>
