
  {% block body %}
  
  {% block topmenu %}
  <header>
    <p id="hf">سایت ترفندهای لینوکسی</p>
     <ltbox>www.Linux-Trix.com </ltbox>

  </header>
  
  <home-box>    خانه </home-box>
  <blog-box>بلاگ</blog-box>
  <contact-us>تماس با ما</contact-us>
  
  <content>
  {% block content %}
  {% endblock content %}
  </content>
{% block footer %}
  <footer>
  </footer>
  {% endblock footer %}
  {% block lhbox %}
 
  {% endblock %}
  {% endblock topmenu %}
  
  {% endblock body %}
